name: Java CI with Maven

on:
  push:
    paths:
      - "packages/insea-connect-backend"
    branches: [ "main" ]
  pull_request:
    paths: 
      - "packages/insea-connect-backend"
    branches: [ "main" ]
  

jobs:
  build:
    

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      working-directory: "./packages/insea-connect-backend"
      run: mvn -B package --file pom.xml

    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
